<%- include header %>
<ol class="breadcrumb">
    <li><a href="/" title="首页">首页</a></li>
    <li class="active">关于我们</li>
</ol>
<div class="panel panel-default">
    <div class="panel-heading">关于我们</div>
    <div class="panel-body">
        <p class="l-margin-bottom-20">误码者 为国内专业的开源技术社区，致力于计算机技术的研究。</p>

        <p>误码者由一批热爱 Node.js 技术的工程师发起。</p>

        <p>我们专注于全端技术研究。</p>
        <p>以上纯属虚构，如有雷同不是你抄我就是我抄你。</p>

        <p class="l-margin-top-20">
            作者邮箱:
            <a href="Mailto:wangyachao0991@sina.cn?CC=wangyachao0991@sina.cn&BCC=wangyachao0991@sina.cn&Subject=问题反馈&Body=我的问题："
               title="打开我的邮件客户端">
                <i class="glyphicon glyphicon-envelope"></i>&nbsp;wangyachao0991@sina.cn
            </a>
        </p>

        <p class="l-margin-top-20">
            我的企鹅:&nbsp;&nbsp;
            <a href="tencent://message/?uin=1102377905 %>&Site=网站在线QQ联系&Menu=yes" target="_blank" title="打开我的QQ"
               class="js-qq-feedback">
                <img src="/images/qq-disable.png" height="20px" width="20px" border="0px"/>1102377905（竹叶青）
            </a>
        </p>

        <p class="l-margin-top-20">
            误码者为开源系统，请喜欢本网站的童鞋自行下载代码，GITHUB地址：
            <a href="https://github.com/wyc0991/nodelog" target="_blank">
                https://github.com/wyc0991/nodelog
            </a>
        </p>

    </div>
</div>
<%- include footer %>
