<%- include header %>
<ol class="breadcrumb">
    <li><a href="/" title="首页">首页</a></li>
    <li class="active">关于我们</li>
</ol>
<div class="panel panel-default">
    <div class="panel-heading">关于我们</div>
    <div class="panel-body">
        <p class="l-margin-bottom-20">NODELOG 为国内专业的开源技术社区，致力于计算机技术的研究。</p>
        <p>NODELOG 社区由一批热爱 Node.js 技术的工程师发起，我们非常欢迎更多对 Node.js 感兴趣的朋友。</p>
        <p>我们专注于全端技术研究，包括前端和后端没有等。</p>
        <p class="l-margin-top-20">
            管理员邮箱:
            <a href="Mailto:wangyachao0991@sina.cn?CC=wangyachao0991@sina.cn&BCC=wangyachao0991@sina.cn&Subject=问题反馈&Body=我的问题："
                    title="打开我的邮件客户端">
                <i class="glyphicon glyphicon-envelope"></i>&nbsp;wangyachao0991@sina.cn
            </a>
        </p>
        <p class="l-margin-top-20">
            企鹅反馈:&nbsp;&nbsp;
            <a href="tencent://message/?uin=1102377905 %>&Site=网站在线QQ联系&Menu=yes" target="_blank" title="打开我的QQ" class="js-qq-feedback">
                <img src="/images/qq-disable.png" height="20px" width="20px" border="0px"/>
            </a>
        </p>
    </div>
</div>
<%- include footer %>
