<%- include header %>

<ol class="breadcrumb">
    <li><a href="/" title="首页">首页</a></li>
    <li class="active">发表日志</li>
</ol>
<div class="panel panel-default">
    <div class="panel-heading">发表日志</div>
    <div class="panel-body">
        <form role="form" action="javascript:void(0)">
            <div class="form-group">
                <label class="l-margin-top-17">标题</label>
                <i class="pull-right text-primary">您还可以输入 <i class="number js-content-name-chars">50</i> 个字符</i>
                <input type="text" class="form-control js-add-content-name" placeholder="日志标题" autofocus
                       maxlength="50"/>
            </div>
            <div class="form-group">
                <label>内容</label>
                <%- include editor %>
            </div>
            <div class="form-group">
                <label>分类</label>
                <select class="form-control js-category-value l-select">
                </select>
            </div>
            <div class="form-group">
                <label>原文<span class="text-muted">(置空则为原创)</span></label>
                <input type="text" class="form-control" name="original" placeholder="原文链接"/>
            </div>
            <div class="form-group">
                <div class="l-padding-vertical">
                    <button type="submit" class="btn btn-primary col-sm-1 col-xs-12 js-save-content pull-right">发表日志
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<input type="hidden" class="js-current-menu" value="js-post-log"/>
<%- include footer %>
