<%- include header %>
<ol class="breadcrumb">
            <li><a href="/" title="首页">首页</a></li>
            
            <li class="active">没有找到</li>
        </ol>
<div class="alert alert-warning" role="alert">
    <p>您访问的页面被外星人带走了!</p>
    <p>五秒后自动跳转到首页，如果您的浏览器不支持跳转,
        <a style="text-decoration: none" href="/">
            <font color="#FF0000">请点这里</font>
        </a>
    </p>
</div>
<%- include footer %>