</article>
</div>
<%- include common/links %>
<!--<div class="js-goto-top  goto-top"><a class="glyphicon glyphicon-send" title="飞向蓝天"></a></div>-->
<!--<script type="text/javascript" src="http://counter.sina.com.cn/ip/" charset="gb2312"></script>-->
<!--<script type="text/javascript" src="http://int.dpool.sina.com.cn/iplookup/iplookup.php?format=js"></script>-->
<script data-main="/js/main" src="/js/require.js?v=3"></script>
<!--登录注册-->
<div class="hide">
    <div class="js-login-panel">
        <i class="icon-remove fixed-right-top size-40 padding-15 pointer opacity-03 hover-opacity-1 layer-close-all"></i>
        <div class="page-header">
            <h1 class="text-center">用户登录</h1>
        </div>
        <div class="row js-panel-row">
            <div class="col-sm-12 col-xs-12">
                <form action="javascript:;" class="form-horizontal l-login-panel" role="form">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input type="text" class="form-control input-lg js-login-username" value=""
                               placeholder="用户名" maxlength="20"/>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input type="password" class="form-control input-lg js-login-password" value=""
                               placeholder="密码" maxlength="20"/>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 l-padding-vertical">
                            <button type="submit" class="btn btn-primary col-sm-12 col-xs-12 js-signIn-btn">登录</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--注册-->
    <div class="container js-register-panel">
        <div class="row js-panel-row">
            <i class="icon-remove fixed-right-top size-40 padding-15 pointer opacity-03 hover-opacity-1 layer-close-all"></i>
            <div class="page-header">
                <h1 class="text-center">用户注册</h1>
            </div>
            <div class="col-sm-12 col-xs-12">
                <form action="javascript:;" class="form-horizontal l-register-panel" role="form">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input type="text" class="form-control input-lg js-register-username" value=""
                               placeholder="用户名" maxlength="20"/>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input type="password" class="form-control input-lg js-register-password" value=""
                               placeholder="密码" maxlength="20"/>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input type="password" class="form-control input-lg js-register-password2" value=""
                               placeholder="确认密码" maxlength="20"/>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 l-padding-vertical">
                            <button type="submit" class="btn btn-primary col-sm-12 col-xs-12 js-signUp-btn">注册</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
