<%- include header %>
<ol class="breadcrumb">
            <li><a href="/" title="首页">首页</a></li>
            
            <li class="active">nodelog.cn</li>
        </ol>
<div class="jumbotron">
    <h1><a href="http://www.nodelog.cn" target="_blank">nodelog.cn</a> 域名正在热卖中...</h1>
    <legend>有需要者联系我</legend>
    <p class="l-margin-top-20">
        新浪邮箱:
        <a href="Mailto:wangyachao0991@sina.cn?CC=wangyachao0991@sina.cn&BCC=wangyachao0991@sina.cn&Subject=问题反馈&Body=我的问题："
           title="打开我的邮件客户端">
            <i class="glyphicon glyphicon-envelope"></i>&nbsp;wangyachao0991@sina.cn
        </a>
    </p>

    <p class="l-margin-top-20">
        腾讯企鹅:
        <a href="tencent://message/?uin=1102377905 %>&Site=网站在线QQ联系&Menu=yes" target="_blank" title="打开我的QQ"
           class="js-qq-feedback">
            <img src="/images/qq-disable.png" height="20px" width="20px" border="0px"/>1102377905（竹叶青）
        </a>
    </p>
    <p><a class="btn btn-primary btn-lg" href="/" role="button">返回首页</a></p>
</div>
<%- include footer %>