<div class="col-sm-3">
        <div class="jumbotron js-menu-bar">
            <p><a href="/content/addPage?view=addContent" class="btn btn-primary btn-lg" role="button">
                    <i class="glyphicon glyphicon-pencil"></i>&nbsp;发表日志
                </a>
            </p>
        </div>
    </div>
