.nav-bg {
    background: #4d71c7;
}

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    text-decoration: none;
    color: #4d71c7 !important;
    background-color: #fff;
}

a {
    color: #50acc4;
}

a:hover {
    color: #50acc4;
}

.l-option:hover {
    background: #5bc0de !important;
    color: #fff !important;
}

.l-option-current,.l-option-current a {
    background: #5bc0de !important;
    color: #fff !important;
}

::-moz-selection {
    background: #5bc0de;
    color: #FFF;
}
 ::selection {
    background: #5bc0de;
    color: #FFF;
}

.search-bar:focus, .search-bar:hover {
    background-color: #eee !important;
    border-color: #4d71c7 !important;
}

.navbar-nav > li > a {
    color: #fff !important;
}

.navbar-nav > li > a.current-menu {
    background: #fff;
    color: #4d71c7 !important;
}

.bs-callout,.bs-callout h4 {
    border-left-color: #5bc0de;
    color: #5bc0de;
}
span.label-default {
    color: #fff;
    background:#5bc0de ;
}
#backToTop{
    color: #5bc0de;
}
.tooltip-inner{
    background-color:#5bc0de;
}
.tooltip.top .tooltip-arrow{
    border-top-color:#5bc0de;
}
.tooltip.bottom .tooltip-arrow{
    border-bottom-color:#5bc0de;
}

::-webkit-scrollbar-thumb {
    background: rgba(77,113,199,0.8);
}

.btn-primary,.btn-primary[disabled],.btn-primary:hover,.btn-primary:active,.btn-primary:focus{
    background-color: #5bc0de !important;
    border-color: #4d71c7 !important;
}