.nav-bg {
    background: #3071a9;
}

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    text-decoration: none;
    color: #3071a9 !important;
    background-color: #fff;
}

a {
    color: #31b0d5;
}

a:hover {
    color: #31b0d5;
}

.l-option:hover {
    background: #5bc0de !important;
    color: #fff !important;
}

.l-option-current,.l-option-current a {
    background: #5bc0de !important;
    color: #fff !important;
}

::-moz-selection {
    background: #5bc0de;
    color: #FFF;
}
 ::selection {
    background: #5bc0de;
    color: #FFF;
}

.search-bar:focus, .search-bar:hover {
    background-color: #eee !important;
    border-color: #428bca !important;
}

.navbar-nav > li > a {
    color: #fff !important;
}

.navbar-nav > li > a.current-menu {
    background: #fff;
    color: #3071a9 !important;
}

.bs-callout,.bs-callout h4 {
    border-left-color: #5bc0de;
    color: #5bc0de;
}
#backToTop{
    color: #5bc0de;
}
.tooltip-inner{
    background-color:#5bc0de;
}
.tooltip.top .tooltip-arrow{
    border-top-color:#5bc0de;
}
.tooltip.bottom .tooltip-arrow{
    border-bottom-color:#5bc0de;
}

::-webkit-scrollbar-thumb {
    background: rgba(48,113,169,0.8);
}