/*导航背景*/
.nav-bg {
    background: #c9302c;
}

.navbar-nav > li > a.current-menu {
    background: #fff;
    color: #c9302c !important;
}

/*导航菜单鼠标划过效果*/
.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    text-decoration: none;
    color: #c9302c !important;
    background-color: #fff;
}
.search-bar:focus, .search-bar:hover {
    background-color: #eee !important;
    border-color: #c9302c !important;
}
a {
    color: #d9534f;
}

a:hover {
    color: #d9534f;
}

/*下拉菜单背景*/
.l-option:hover {
    background: #d9534f !important;
    color: #fff !important;
}

.l-option-current, .l-option-current a {
    background: #d9534f !important;
    color: #fff !important;
}

::-moz-selection {
    background: #d9534f;
    color: #FFF;
}

::selection {
    background: #d9534f;
    color: #FFF;
}
.bs-callout,.bs-callout h4 {
    border-left-color: #d9534f;
    color: #d9534f;
}
span.label-default {
    color: #fff;
    background:#d9534f ;
}
#backToTop{
    color: #d9534f;
}
.tooltip-inner{
    background-color:#d9534f;
}
.tooltip.top .tooltip-arrow{
    border-top-color:#d9534f;
}
.tooltip.bottom .tooltip-arrow{
    border-bottom-color:#d9534f;
}

.btn-primary,.btn-primary[disabled],.btn-primary:hover,.btn-primary:active,.btn-primary:focus{
    background-color: #d9534f;
    border-color: #c9302c;
}

::-webkit-scrollbar-thumb {
    background: rgba(201,48,44,0.8);
}