.bg-gray {
    background: #e5e5e5;
}

.bg-white {
    background: #fff;
}

.bg-blue {
    background: #357ebd;
}

.l-top-bottom {
    /*
        margin-top: -25px ;
        */
    margin-bottom: 10px;
}

.bottom-border {
    border-bottom: 1px solid #eee;
    box-shadow: 0 0 5px #888;
}

.color-gray {
    color: #999;
}

.color-white {
    color: #ffffff;
}

.clear-margin {
    margin: 0px;
}

.font-normal {
    font-size: 15px !important;
}

.l-padding-full {
    padding: 30px 15px;
}

.l-center {
    margin: 0 auto;
}

.l-width-full {
    width: 100%;
}

.l-login-panel {
    padding: 20px 15px;
}

.l-register-panel {
    padding: 20px 15px;
}

.l-padding-horizontal {
    padding-left: 15px;
    padding-right: 15px;
}

.l-padding-vertical {
        padding-top: 15px;
}
.l-editor {
    max-height: 400px;
    height: 400px;
    background-color: white;
    border-collapse: separate;
    border: 1px solid rgb(204, 204, 204);
    padding: 4px;
    box-sizing: content-box;
    -webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
    box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    overflow: scroll;
    outline: none;
}

#voiceBtn {
    width: 20px;
    color: transparent;
    background-color: transparent;
    transform: scale(2.0, 2.0);
    -webkit-transform: scale(2.0, 2.0);
    -moz-transform: scale(2.0, 2.0);
    border: transparent;
    cursor: pointer;
    box-shadow: none;
    -webkit-box-shadow: none;
}

div[data-role="editor-toolbar"] {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dropdown-menu a {
    cursor: pointer;
}

.l-select {
    max-height: 450px;
    overflow: auto;
}

.l-search-select {
    max-height: 680px;
    overflow: auto;
}

.l-option {
    min-height: 40px !important;
    line-height: 40px !important;
    border-top: 1px solid #e5e5e5;
}

.l-option:hover {
    background: #5bc0de !important;
    color: #fff !important;
}

.l-option-current {
    background: #5bc0de !important;
    color: #fff !important;
}

a {
    color: #5bc0de;
}

a:hover {
    color: #5bc0de;
}

.l-heigh-200 {
    min-height: 200px !important;
    resize: vertical;
}
.l-heigh-100 {
    min-height: 100px !important;
    resize: vertical;
}

.l-no-resize {
    resize: none;
}

.goto-top {
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;

    font-size: 45px;
    color: #999;
    bottom: 54px;
    right: -60px;
    position: fixed;
    transition: all 0.5s ease 0s;
    z-index: 9999;
}

.goto-top a:hover {
    color: #5bc0de;
    text-decoration: none;
}

.showme {
    right: 50px;
    transform: scale(1) rotate(-360deg) translate(0px);
}

/*.l-max-height{
    display: block!important;
    top: -500px;
    transition: all 0.5s ease 0s;
}
.showcategory {
	top: 48px;
	transform: scale(1) rotate(360deg) translate(0px);
}*/
::-moz-selection {
    background: #5bc0de;
    color: #FFF;
}

::selection {
    background: #5bc0de;
    color: #FFF;
}

.shadow {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
    -webkit-transition: background-color .1s linear;
    -moz-transition: background-color .1s linear;
    -o-transition: background-color .1s linear;
    -ms-transition: background-color .1s linear;
    transition: background-color .1s linear;
}

.shadow li,.shadow li a, .shadow li input{
    transition: .3s;
    -webkit-transition: .3s;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
    -webkit-transition: background-color .5s linear;
    -moz-transition: background-color .5s linear;
    -o-transition: background-color .5s linear;
    -ms-transition: background-color .5s linear;
    transition: background-color .5s linear;
}

.current-menu {
    background: #fff;
    color: #357ebd;
}

.l-category-min-wight {
    min-width: 120px;
}

.navbar, .panel, .breadcrumb, .container .jumbotron {
    border-radius: 0px !important;
}

.full-width {
    width: 100%;
}

.bg-footer {
    background: #fff;
    box-shadow: 0 -1px 0 rgba(168, 168, 168, .33);
}

.navbar-collapse {
    padding: 0px;
}

.dropdown-menu {
    background: #fff !important;
}

.navbar {
    margin-bottom: 10px;
}

.panel, .breadcrumb {
    margin-bottom: 10px;
}

.navbar-nav > li {
    float: left;
}

input[type=search] {
    background: #ededed url('/images/search-icon.png') no-repeat 9px center;
    border: solid 1px #ccc;
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;
    -webkit-transition: all .5s!important;;
    -moz-transition: all .5s!important;;
    transition: all .5s!important;
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
    outline: none;
    -webkit-rtl-ordering: logical;
    width: 0px;
    height: 42px;
    padding-right: 30px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-top: 0px;
    padding-bottom: 0px;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none;
}
.search-focus {
    width: 150px !important;
    background: #FFF url(/images/search-icon.png) no-repeat 165px center !important;
}
.search-bar {
    padding: 0px 10px 0px 10px;
}

.search-bar:focus, .search-bar:hover {
    background-color: #eee !important;
    border-color: #428bca !important;
}
.l-margin-bottom-20 {
    margin-bottom: 20px;
}
.l-margin-top-20 {
    margin-top: 20px;
}
.l-margin-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.number {
    font-weight: 700;
    font-size: 30px;
    font-style: italic;
    font-family: Constantia, Georgia;
    color: #25BD2B;
}
.l-margin-top-17 {
    margin-top: 17px;
}
.l-horizontal-resize{
    overflow-y:visible
}
.transition{
    transition: .3s;
    -webkit-transition: .3s;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
    -webkit-transition: background-color .5s linear;
    -moz-transition: background-color .5s linear;
    -o-transition: background-color .5s linear;
    -ms-transition: background-color .5s linear;
    transition: background-color .5s linear;
}

