</div>
</div>
<!--<div class="clearfix"></div>-->
</div>
</article>
</div>
<div class="jumbotron clear-margin bg-footer">
    <div class="container color-gray font-normal">
        <p class="font-normal">
            <span>友情链接：</span>
            <a href="/about"><i class="glyphicon glyphicon-info-sign"></i>&nbsp;关于我们</a>
            <a href="http://www.errorcoder.cn:8080/psp/" target="_blank"><i class="glyphicon glyphicon-link"></i>&nbsp;郑大公益</a>
            <a href="http://www.errorcoder.cn:81/zentao/" target="_blank"><i class="glyphicon glyphicon-link"></i>&nbsp;禅道</a>
            <a href="http://www.errorcoder.cn/" target="_blank"><i class="glyphicon glyphicon-link"></i>&nbsp;www.errorcoder.cn</a>
            <a href="http://psp51.xicp.net/" target="_blank"><i class="glyphicon glyphicon-link"></i>&nbsp;psp51.xicp.net</a>
            <a href="/html/clock.html" target="_blank"><i class="glyphicon glyphicon-link"></i>&nbsp;HTML5时钟</a>
            <a href="/html/register.html" target="_blank"><i class="glyphicon glyphicon-link"></i>&nbsp;HTML5注册</a>
            <a href="/html/bgline.html" target="_blank"><i class="glyphicon glyphicon-link"></i>&nbsp;HTML5渐变背景</a>
        </p>
        <p class="font-normal copyinfo">&copy; 2014 误码者 All Right Reserve</p>
    </div>
</div>
<div id="rightDocker" class="hidden-xs">
    <button id="rightDockerBtn" class="btn docker erweima" data-toggle="popover" data-placement="left"
            data-target="$next" data-original-title="" title="">
        <i class="icon-qrcode"></i>
    </button>
    <button class="btn docker goto-top js-goto-top" data-toggle="tooltip" data-placement="left" title="返回顶部">
        <i class="icon-arrow-up"></i>
    </button>
    <div class="popover fade">
        <div class="arrow"></div>
        <div class="popover-content docker-right">
            <table class="table table-borderless">
                <tbody><tr>
                    <td>
                        <div class="heading"><i class="icon-weixin">&nbsp;</i> 微信</div>
                        <img src="/images/weixin.png" width="200" height="200">
                    </td>
                    <td>
                        <div class="heading"><i class="icon-mobile-phone"></i> 移动访问</div>
                        <img src="/images/weixin.png" width="200" height="200">
                    </td>
                </tr>
                </tbody></table>
        </div>
    </div>
</div>
<!--<div class="js-goto-top  goto-top"><a class="glyphicon glyphicon-send" title="飞向蓝天"></a></div>-->
<!--<script type="text/javascript" src="http://counter.sina.com.cn/ip/" charset="gb2312"></script>-->
<!--<script type="text/javascript" src="http://int.dpool.sina.com.cn/iplookup/iplookup.php?format=js"></script>-->
<script src="/js/jquery-1.10.2.min.js"></script>
<script src="/js/jquery.pin.js"></script>
<script src="/js/bootstrap-2.3.1.min.js"></script>
<script src="/js/bootstrap-switch.min.js"></script>
<script src="/js/layer.min.js"></script>
<script src="/js/common.js"></script>
<script src="/js/external/jquery.hotkeys.js"></script>
<script src="/js/external/google-code-prettify/prettify.js"></script>
<script src="/js/bootstrap-wysiwyg.js"></script>
<script src="/js/editor.js"></script>
<script src="/js/dataFormat.js"></script>
</body></html>
