</div>
</div>
</div>
</article>
</div>
<%- include ../common/links %>
<!--<div class="js-goto-top  goto-top"><a class="glyphicon glyphicon-send" title="飞向蓝天"></a></div>-->
<!--<script type="text/javascript" src="http://counter.sina.com.cn/ip/" charset="gb2312"></script>-->
<!--<script type="text/javascript" src="http://int.dpool.sina.com.cn/iplookup/iplookup.php?format=js"></script>-->
<script src="/js/jquery-1.10.2.min.js"></script>
<script src="/js/jquery.pin.js"></script>
<script src="/js/bootstrap-2.3.1.min.js"></script>
<script src="/js/bootstrap-switch.min.js"></script>
<script src="/js/layer.min.js"></script>
<script src="/js/common.js"></script>
<script src="/js/external/jquery.hotkeys.js"></script>
<script src="/js/external/google-code-prettify/prettify.js"></script>
<script src="/js/bootstrap-wysiwyg.js"></script>
<script src="/js/editor.js"></script>
<script src="/js/dataFormat.js"></script>
<script type="text/javascript">
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fe61d71840b3f5db8010b0800b7b5e9ea' type='text/javascript'%3E%3C/script%3E"));
</script>
</body></html>
