<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>
        <% if(locals.title){ %>
        <%= title %>
        <% } %>
    </title>
    <link href="/js/external/google-code-prettify/prettify.css" rel="stylesheet">
    <link href="/css/font-awesome.css" rel="stylesheet">
    <link rel='stylesheet' href='/css/bootstrap.css'/>
    <link rel='stylesheet' href='/css/docs.min.css'/>
    <link rel='stylesheet' href='/css/bootstrap-switch.min.css'/>
    <link rel='stylesheet' href='/css/style.css'/>
    <script type="text/javascript">
        var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fe61d71840b3f5db8010b0800b7b5e9ea' type='text/javascript'%3E%3C/script%3E"));
    </script>
</head>
<body class="bg-gray js-body">
<div class="navbar navbar-inverse navbar-fixed-top bottom-border">
    <div class="container">
        <div class="navbar-collapse">
            <ul class="nav navbar-nav shadow full-width">
                <li class="transition">
                    <a href="/manager" class="color-white transition <%if(locals.currentMenu&&currentMenu=="home"){%>current-menu<%}%>" title="误码者后台管理">
                        <i class="glyphicon glyphicon-globe"></i>&nbsp;误码者后台管理
                    </a>
                </li>
                <% if(session.user != null){ %>
                <li>
                    <a href="/manager/content?manager=true&page=1" class="color-white js-settings-btn transition <%if(locals.currentMenu&&currentMenu=="content"){%>current-menu<%}%>">
                        <i class="glyphicon glyphicon-book"></i>&nbsp;日志管理
                    </a>
                </li>
                <li>
                    <a href="/manager/user?page=1" class="color-white js-settings-btn transition <%if(locals.currentMenu&&currentMenu=="user"){%>current-menu<%}%>">
                        <i class="glyphicon glyphicon-user"></i>&nbsp;用户管理
                    </a>
                </li>
                <% if(session.user.role == 0){ %>
                <li>
                    <a href="/manager/category?page=1" class="color-white js-settings-btn transition <%if(locals.currentMenu&&currentMenu=="category"){%>current-menu<%}%>">
                        <i class="glyphicon glyphicon-list"></i>&nbsp;分类管理
                    </a>
                </li>
                <li>
                    <a href="/manager/log?view=manager/log&page=1" class="color-white js-settings-btn transition <%if(locals.currentMenu&&currentMenu=="log"){%>current-menu<%}%>">
                        <i class="glyphicon glyphicon-volume-up"></i>&nbsp;公告管理
                    </a>
                </li>
                <%}%>
                <li>
                    <a href="/" class="color-white js-settings-btn transition">
                        <i class="glyphicon glyphicon-home"></i>&nbsp;前台首页
                    </a>
                </li>
                <li><a class="color-white js-user-center transition">
                        <%= session.user.role == 0 ? '管理员' : 'VIP用户' %>
                        :&nbsp;<%= session.user.realName ? session.user.realName : session.user.userName %></a>
                </li>
                <li><a href="javascript:void(0)" class="color-white js-logout-btn transition" title="退出系统">
                        <i class="glyphicon glyphicon-log-out"></i>&nbsp;退出
                    </a>
                </li>
                <% }else{ %>
                <% } %>
            </ul>
        </div>
    </div>
</div>
<div class="l-top-bottom container l-margin-top-60">
    <article class="l-padding-horizontal">
        <div class="row js-panel-row">
            <!--不要修改下面一行的class
            <div class="col-sm-3 js-menu-panel" style="">
                <div class="panel-group l-top-bottom js-menu-bar" id="accordion">
                    <div class="panel js-content-manager">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="/manager/content?manager=true&page=1" class="transition">日志管理</a>
                            </h4>
                        </div>
                    </div>
                    <div class="panel js-user-manager">
                        <a href="/manager/user?page=1" class="transition"><h4 class="panel-title" style="line-height: 37px;">用户管理</h4></a>
                    </div>

                    &lt;!&ndash;<div class="panel panel-default panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a href="#">评论管理</a></h4>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a href="#">系统设置</a></h4>
                        </div>
                    </div>&ndash;&gt;
                    <% if(session.user.role == 0){ %>
                    <div class="panel js-category-manager">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="/manager/category?page=1" class="transition">分类管理</a>
                            </h4>
                        </div>
                    </div>
                    <div class="panel js-log-manager">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="/manager/log?view=manager/log&page=1" class="transition">公告管理</a>
                            </h4>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>-->
            <div >
                <div class="bg-white jumbotron clear-margin">
