<div class="jumbotron clear-margin bg-footer">
    <div class="container color-gray font-normal">
        <p class="font-normal">
            <a href="http://resume.nodelog.cn/" target="_blank"><i class="glyphicon glyphicon-info-sign"></i>&nbsp;关于ME</a>
            <a href="/clock"><i class="glyphicon glyphicon-link"></i>&nbsp;HTML5时钟</a>
            <a href="http://fp.nodelog.cn/" target="_blank"><i class="glyphicon glyphicon-link"></i>&nbsp;金融密码</a>
            <a href="http://gh.nodelog.cn/" target="_blank"><i class="glyphicon glyphicon-link"></i>&nbsp;教代会测试</a>
            <a href="http://chufang.nodelog.cn/" target="_blank"><i class="glyphicon glyphicon-link"></i>&nbsp;出国测试</a>
            <a href="http://pmp.nodelog.cn/" target="_blank"><i class="glyphicon glyphicon-link"></i>&nbsp;禅道</a>
            <a href="http://www.ujineng.cn/" target="_blank"><i class="glyphicon glyphicon-link"></i>&nbsp;U技能</a>
            <a href="http://psp.nodelog.cn/psp/" target="_blank"><i class="glyphicon glyphicon-link"></i>&nbsp;郑大公益</a>
        </p>
        <p class="font-normal">
            <a href="http://jiekers.com" target="_blank"><i class="glyphicon glyphicon-link"></i>&nbsp;jiekers.com：解客思</a>
            <a href="http://libcool.com" target="_blank"><i class="glyphicon glyphicon-link"></i>&nbsp;libcool.com：库酷</a>
            <a href="http://cafeyun.com" target="_blank"><i class="glyphicon glyphicon-link"></i>&nbsp;cafeyun.com：咖啡云</a>
            <a href="http://chinawuhun.com" target="_blank"><i class="glyphicon glyphicon-link"></i>&nbsp;chinawuhun.com：中国武魂</a>
            <a href="http://10fbl.com" target="_blank"><i class="glyphicon glyphicon-link"></i>&nbsp;10fbl.com：十分便利</a>
        </p>
        <div class="dropdown dropup">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                选择主题
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu l-select" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation" class="js-theme style-black" data-theme="style-black" data-bdimg="5"><a role="menuitem" class="style-theme" tabindex="-1" href="javascript:void(0);">神秘黑&nbsp;<i></i></a></li>
                <li role="presentation" class="js-theme style-blue" data-theme="style-blue" data-bdimg="2"><a role="menuitem" class="style-theme" tabindex="-1" href="javascript:void(0);">经典蓝&nbsp;<i></i></a></li>
                <li role="presentation" class="js-theme style-green" data-theme="style-green" data-bdimg="1"><a role="menuitem" class="style-theme" tabindex="-1" href="javascript:void(0);">清新绿&nbsp;<i></i></a></li>
                <li role="presentation" class="js-theme style-red" data-theme="style-red" data-bdimg="4"><a role="menuitem" class="style-theme" tabindex="-1" href="javascript:void(0);">喜庆红&nbsp;<i></i></a></li>
            </ul>
        </div>
        <p class="font-normal copyinfo">&copy; 2014-<%= new Date().getFullYear() %>&nbsp;王亚超 联系电话：13030840306&nbsp;闽ICP备15004025号&nbsp;Power by node.js 的爱恨情仇</p>
    </div>
</div>
<div id="rightDocker">
    <!--<button id="rightDockerBtn" class="btn docker erweima js-attention-weixinweibo"  data-placement="left" data-toggle="popover" title="误码者微信">-->
    <!--<i class="icon-qrcode"></i>-->
    <!--</button>-->
    <!--<button class="btn docker goto-top js-goto-top" data-toggle="tooltip" data-placement="left" data-container="body" id="gotoTop" title="返回顶部">-->
    <!--<i class="icon-arrow-up"></i>-->
    <!--</button>-->
</div>
<!--返回顶部-->
<span id="backToTop" class="pointer  icon-circle-arrow-up Offscreen"></span>
<!--百度统计代码-->
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?a7c4b1f8d1291862ada3a029d8cc183f";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?228cabe20efd4764458161d702e46db1";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
