<div class="jumbotron clear-margin bg-footer">
    <div class="container color-gray font-normal">
        <p class="font-normal">
            <span>友情链接：</span>
            <a href="/about"><i class="glyphicon glyphicon-info-sign"></i>&nbsp;关于我们</a>
            <a href="http://www.errorcoder.cn:8080/psp/" target="_blank"><i class="glyphicon glyphicon-link"></i>&nbsp;郑大公益</a>
            <a href="http://www.errorcoder.cn:81/zentao/" target="_blank"><i class="glyphicon glyphicon-link"></i>&nbsp;禅道</a>
            <a href="http://www.errorcoder.cn/" target="_blank"><i class="glyphicon glyphicon-link"></i>&nbsp;www.errorcoder.cn</a>
            <a href="http://psp51.xicp.net/" target="_blank"><i class="glyphicon glyphicon-link"></i>&nbsp;psp51.xicp.net</a>
            <a href="/clock"><i class="glyphicon glyphicon-link"></i>&nbsp;HTML5时钟</a>
            <a href="/html/register.html" target="_blank"><i class="glyphicon glyphicon-link"></i>&nbsp;HTML5注册</a>
            <a href="/html/bgline.html" target="_blank"><i class="glyphicon glyphicon-link"></i>&nbsp;HTML5渐变背景</a>
        </p>
        <p class="font-normal copyinfo">&copy; 2014 误码者 All Right Reserve</p>
    </div>
</div>
<div id="rightDocker" class="hidden-xs">
    <button id="rightDockerBtn" class="btn docker erweima" data-toggle="popover" title="关注微信">
        <i class="icon-qrcode"></i>
    </button>
    <button class="btn docker goto-top js-goto-top" data-toggle="tooltip" data-placement="left" data-container="body" id="gotoTop" title="返回顶部">
        <i class="icon-arrow-up"></i>
    </button>
</div>
<!--百度统计代码-->
<script type="text/javascript">
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fe61d71840b3f5db8010b0800b7b5e9ea' type='text/javascript'%3E%3C/script%3E"));
</script>