<div class="jumbotron clear-margin bg-footer">
    <div class="container color-gray font-normal">
        <p class="font-normal">
            <a href="/about"><i class="glyphicon glyphicon-info-sign"></i>&nbsp;关于我们</a>
            <!--<a href="http://www.errorcoder.cn:8080/psp/" target="_blank"><i class="glyphicon glyphicon-link"></i>&nbsp;郑大公益</a>
            <a href="http://www.errorcoder.cn:81/zentao/" target="_blank"><i class="glyphicon glyphicon-link"></i>&nbsp;禅道</a>
            <a href="http://www.errorcoder.cn/" target="_blank"><i class="glyphicon glyphicon-link"></i>&nbsp;误码者第一部</a>
            <a href="http://psp51.xicp.net/" target="_blank"><i class="glyphicon glyphicon-link"></i>&nbsp;误码者第二部</a>-->
            <a href="http://jiekers.com" target="_blank"><i class="glyphicon glyphicon-link"></i>&nbsp;解客</a>
            <a href="http://ujineng.cn" target="_blank"><i class="glyphicon glyphicon-link"></i>&nbsp;U技能</a>
           <!-- <a href="http://xiangyawang.1366768.com" target="_blank"><i class="glyphicon glyphicon-link"></i>&nbsp;象牙网</a>-->
            <!--<a href="/nodelog" ><i class="glyphicon glyphicon-link"></i>&nbsp;nodelog.cn</a>-->
            <a href="/clock"><i class="glyphicon glyphicon-link"></i>&nbsp;HTML5时钟</a>
        <div class="dropdown dropup">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                选择主题
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu l-select" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation" class="js-theme style-black" data-theme="style-black" data-bdimg="5"><a role="menuitem" class="style-theme" tabindex="-1" href="javascript:void(0);">神秘黑&nbsp;<i></i></a></li>
                <li role="presentation" class="js-theme style-blue" data-theme="style-blue" data-bdimg="2"><a role="menuitem" class="style-theme" tabindex="-1" href="javascript:void(0);">经典蓝&nbsp;<i></i></a></li>
                <li role="presentation" class="js-theme style-green" data-theme="style-green" data-bdimg="1"><a role="menuitem" class="style-theme" tabindex="-1" href="javascript:void(0);">清新绿&nbsp;<i></i></a></li>
                <li role="presentation" class="js-theme style-red" data-theme="style-red" data-bdimg="4"><a role="menuitem" class="style-theme" tabindex="-1" href="javascript:void(0);">喜庆红&nbsp;<i></i></a></li>
            </ul>
        </div>
        </p>
        <p class="font-normal copyinfo">&copy; 2014 误码者 All Right Reserve</p>
    </div>
</div>
<div id="rightDocker">
    <!--<button id="rightDockerBtn" class="btn docker erweima js-attention-weixinweibo"  data-placement="left" data-toggle="popover" title="误码者微信">-->
        <!--<i class="icon-qrcode"></i>-->
    <!--</button>-->
    <button class="btn docker goto-top js-goto-top" data-toggle="tooltip" data-placement="left" data-container="body" id="gotoTop" title="返回顶部">
        <i class="icon-arrow-up"></i>
    </button>
</div>
<!--百度统计代码-->
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?a7c4b1f8d1291862ada3a029d8cc183f";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

