<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache" />-->
<META HTTP-EQUIV="Cache-Control" CONTENT="max-age=7200" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta content="误码者,王亚超的技术博客,errorcoder,nodejs,express,monogodb,全端博客,error,coder,code,博客,日志,技术,个人" name="keywords" />
<meta content="误码者,王亚超的技术博客,errorcoder,nodejs,express,monogodb,全端博客,error,coder,code,博客,日志,技术,个人" name="description" />
<meta name="baidu-site-verification" content="QSHxFJymsY" />
<%if(locals.state){%>
<meta http-equiv="refresh" content="5;url=/">
<%}%>
<title><%if(locals.title){%><%=title%><%}%>--个人技术日志博客</title>
<link href="/js/external/google-code-prettify/prettify.css" rel="stylesheet">
<link href="/css/font-awesome.css" rel="stylesheet">
<link rel='stylesheet' href='/css/bootstrap.css'/>
<link rel='stylesheet' href='/css/docs.min.css'/>
<link rel='stylesheet' href='/css/bootstrap-switch.min.css'/>
<%if(!locals.theme || theme=="blue"){%>
<link rel='stylesheet' href='/css/style-blue.css'/>
<%} else if(theme == "black"){%>
<link rel='stylesheet' href='/css/style-black.css'/>
<%} else {%>
<link rel='stylesheet' href='/css/style-blue.css'/>
<%}%>
